{% extends 'base.html.twig' %}

{% block title %}Create new Author!{% endblock %}

{% block body %}
    <h1>Create new Author✅</h1>
    <form action="{{path('author_store')}}" method="POST">
        Name: <input type="text" name="author_name">
        Surname: <input type="text" name="author_surname">
        <button type="submit">Add new Author</button>
    </form>
{% endblock %}
