{% extends 'base.html.twig' %}

{% block title %}Create new Author!{% endblock %}

{% block body %}
    <h1 class="create">Create new Author</h1>
    <div class="container create">
        <form action="{{path('author_store')}}" method="POST">
            <div class="new">
                <label for="author_name">Name:</label> 
                <input type="text" name="author_name" value="{{ author_name }}" id="author_name">
            </div>
            <div class="new">
                <label for="author_surname">Surname:</label> 
                <input type="text" name="author_surname" value="{{ author_surname }}" id="author_surname">
            </div>
            <button class="submit-btn create" type="submit">Add new Author</button>
            <input type="hidden" name="token" value="{{csrf_token('')}}"/>
        </form>
    </div>
{% endblock %}
