{% extends 'base.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>
    <div class="container create">
        <form action="{{path('author_update', {id:author.id})}}" method="POST">
            <div class="new">
                <label for="author_name">Name:</label> 
                <input type="text" name="author_name" value="{{ author.name }}" id="author_name">
            </div>
            <div class="new">
                <label for="author_surname">Surname:</label> 
                <input type="text" name="author_surname" value="{{ author.surname }}" id="author_surname">
            </div>
            <button class="submit-btn create" type="submit">Edit Author</button>
            <input type="hidden" name="token" value="{{csrf_token('')}}"/>
        </form>
    </div>
{% endblock %}
