body {
    background: #fff;
    position: relative;
}

.validation {
    display: inline-block;
    float: left;
    width: 100%;
}

a {
    text-decoration: none;
}

.hero-bg {
    height: 200px;
    background-image: url("../img/hero.gif");
    background-color: #F7BDD6;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 40%;
}

.hero-bg.create {
    background-image: url("../img/hero-create2.gif");
    background-color: #5A85FF;
    background-size: 25%;
}

.container {
    display: inline-block;
    position: relative;
    width: 80vw;
    margin: 0vh 9vw;
}

.container.author {
    width: 40vw;
    margin: 0vh 29vw;
}

.container.author .left {
    display: inline-block;
    float: left;
    width: 30%;
}

.container.author .right {
    display: inline-block;
    float: left;
    width: 70%;
}

.container.create {
    width: 30vw;
    margin: 0vh 34vw;
}

ul {
    display: inline-block;
    float: left;
    width: 100%;
}

.new {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.new > p {
    display: inline-block;
    width: 20%;
    text-align: right;
}

.new > input,
.new > textarea,
.new > select {
    display: inline-block;
    float: right;
    width: 72%;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: #3A3B64;
}

h1.create {
    color: #000;
    text-shadow: 1px 1px 2px rgb(180, 200, 255);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 0 0 30px;
    border-top: 1px solid #3A3B64;
    border-bottom: 1px solid #3A3B64;
}

.nav {
    display: inline-block;
    width: 25%;
    min-width: 115px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #3A3B64;
    text-align: center;
    text-decoration: none;
}

.nav:last-of-type {
    margin-right: 0;
}

.nav:hover,
.nav.checked {
    background: #544F9A;
    color: #fff;
}

.book {
    display: inline-block;
    float: left;
    width: 31%;
    margin: 0 1% 20px;
}

.books {
    display: inline-block;
    float: left;
    width: 100%;
}

.authors {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.preview {
    display: inline-block;
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-position: top;
    background-size: cover;
    margin-right: 10px;
}

.preview.book {
    background-image: url("../img/book-rocket.png");
    opacity: 0.8;
    
}
.preview.author {
    background-image: url("../img/author3.png");
    float: right;
}

.title {
    display: inline-block;
    float: left;
    width: 70%;
    font-size: 18px;
    text-transform: uppercase;
    color: #544F9A;
}

.right .title {
    width: 100%;
}

.name {
    display: inline-block;
    float: left;
    width: 70%;
    font-size: 14px;
    margin-bottom: 10px;
}

.buttons {
    width: 70%;
    outline: none;
    margin-bottom: 10px;
}

.buttons.author {
    display: inline-block;
    float: left;
    width: 100%;
}
.buttons.author > .edit-btn {
    width: 50%;
}

.buttons.author > form {
    display: inline-block;
    float: left;
    width: 50%;
}

.buttons.author > form > .submit-btn {
    display: inline-block;
    float: left;
    width: 100%;
}

.edit-btn,
.submit-btn {
    display: inline-block;
    float: left;
    width: 50px;
    font-size: 14px;
    /* background: #F4F4F4; */
    color: #3A3B64;
    border: none;
    border-top: 1px solid #544F9A;
    border-bottom: 1px solid #544F9A;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.edit-btn:hover {
    background: #544F9A;
    color: #fff;
}

.submit-btn:hover {
    background: #e7e7ff;
}

.submit-btn.create {
    width: 50%;
    height: 30px;
    margin: 20px 25%;
    color: #fff;
    border: none;
    /* border-radius: 15px; */
    background: #5075e4;
}

.submit-btn.create:hover {
    background: #5A85FF;
}